// Button.scss

.button {
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    cursor: pointer;

    &--default {
        color: #333;
        background-color: #fff;
        border: 1px solid #333;
    }

    &--primary {
        color: #fff;
        background-color: #007bff;
        border: 1px solid #007bff;
    }

    &--secondary {
        color: #fff;
        background-color: #6c757d;
        border: 1px solid #6c757d;
    }

    &--danger {
        color: #fff;
        background-color: #dc3545;
        border: 1px solid #dc3545;
    }
}
